/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
  min-height: 100vh;
  background-color: rgba(240, 128, 128, 0.902);
}

.container{
  width: 50%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;
}

.text{
  margin: 0 20px;
}

/*MAIN*/
main h1{
  text-align: center;
  margin: 20px 0;
  color: white;
}

.pink{
  background-color: rgb(246, 94, 94);
}

.bisque{
  background-color:rgb(255, 168, 61)
}

.lightsalmon{
  background-color: lightsalmon;
}

.yellow{
  background-color: rgba(153, 205, 50, 0.621);
}